<main>
  <div class="container">
    <div class="main-wrapper">
      <div id="display-items" class="display-items">
        <!-- 從這開始產生資料 -->
        {{#each expenseItems}}
        <div class="items-wrapper">
          <div id="time" class="time">
            <div id="month" class="month">{{this.time.month}}月</div>
            <div id="date" class="date">{{this.time.date}}日</div>
            <div id="hour" class="hour">{{this.time.hour}}:</div>
            <div id="minute" class="minute">{{this.time.minute}}</div>
          </div>
          <div id="category" class="category">{{this.category}}</div>
          <div id="item-name" class="item-name">{{this.itemName}}</div>
          <div id="in-or-out" class="in-or-out">{{this.inOrOut}}</div>
          <div id="cost" class="cost">{{this.cost}}</div>
          <div id="method" class="method">{{this.method}}</div>
          <div class="item-btn-wrapper">
            <a href="/expenses/{{this._id}}" class="btn-detail btn-common">詳細</a>
            <a href="/expenses/{{this._id}}/edit" class="btn-edit btn-common">編輯</a>
          </div>
        </div>
        {{/each }}
      </div>
    </div>
  </div>
</main>