<div class="container">
  <h2>Hello 這是記帳簿</h2>
  <div id="display-items" class="display-items">
    <!-- 從這開始產生資料 -->
    {{#each expensesItems}}
    <div id="category-1" class="category-1">{{this.category_1}}</div>
    <div id="category-2" class="category-2">{{this.category_2}}</div>
    <div id="itemName" class="itemName">{{this.category_1}}</div>
    <div id="cost" class="cost">{{this.itemName}}</div>
    <div id="method" class="method">{{this.method}}</div>
    <div id="time" class="time">
      <div id="year" class="year">{{this.time.year}}</div>
      <div id="month" class="month">{{this.time.month}}</div>
      <div id="date" class="date">{{this.time.date}}</div>
      <div id="hour" class="hour">{{this.time.hour}}</div>
      <div id="minute" class="minute">{{this.time.minute}}</div>
    </div>
    {{/each }}
  </div>
</div>